.r {
    color:crimson;
    text-decoration: dashed, wavy, overline;
}
.fast {
    color: blueviolet;
}
.baron {
    color:darkorchid;
}
.tu {
    color:rgb(rgb(225, 255, 4), rgb(229, 11, 11), rgb(244, 20, 229))
}
